<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hradmin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HRAdmin">
        <activity android:name=".activities.NewManagerActivity"></activity>
        <activity android:name=".activities.ManagersActivity" />
        <activity android:name=".activities.EditRealEstateActivity" />
        <activity android:name=".activities.RespondActivity" />
        <activity android:name=".activities.EditHealthcareActivity" />
        <activity android:name=".activities.RealstateActivity" />
        <activity android:name=".activities.HealthcareActivity" />
        <activity android:name=".activities.NewCourseActivity" />
        <activity android:name=".activities.NewJobActivity" />
        <activity android:name=".activities.AllCoursesActivity" />
        <activity android:name=".activities.NewEmployeeActivity" />
        <activity android:name=".activities.EmployeesActivity" />
        <activity android:name=".activities.NotificationsActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".activities.WelcomeActivity" />
        <activity android:name=".activities.MainPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>